

/**/

body {
    background-color: lightgrey;
    padding-top: 40px; /* padding for bootstrap navbar */
    padding-bottom: 100px;
}

h1 {
  font-size: 200%;
}
h1.title {
  font-size: 150%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 130%;
}
h4 {
  font-size: 115%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 90%;
}

.title { /* hide title on page*/
  display: none;
}

#avatarimg {
  margin-left: 25%;
  margin-top: 20%;
  border-radius: 25%;
}

.sidebar-menu {
  height: 100%;
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: lightpink; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 70px;
  padding-left: 10px;
}

.sidebar-menu a {
  text-decoration: none;
  color: darkslategray;
  font-size: 100%;
  word-wrap: normal;
  display: block;
  padding-bottom: 40px;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.rtuts {
  float: right;
  width: 80%;
  padding-top: 30px;
  padding-right: 10px;
}

#tsplotpreview {
  border: 1px solid #BA90A9;
  border-radius: 1%;
  box-shadow: 3px 5px 5px #95798A;
  float:right;
  width: 100%;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-top: 2px solid lightgrey;
}
